
<table style="position:absolute; vertical-align:center; top:200px; left:25%">
  <tr>
  <Td>
  
  
         <table id="domainlist" style=" overflow-y:scroll;"> 
          <% for(var i in tabs){ %>
            <tr>
             <td>  
                <!--<img style="width:15px; height:15px;" src="<%= tabs[i].favicon %>" / >-->
                <a href="#" style="font-size:<%= tabs[i].font %>;" class="domain"> <%= tabs[i].domain %></a>  </br> 
                  <div class="sites" id="<%= tabs[i].domain %>" style="display:none; position:relative; left:100px;">      
                    <% for(var o in tabs[i].sites){ %>
                      <a href="<%= tabs[i].sites[o].url %>" style="" > <%= tabs[i].sites[o].title %></a></br>
                    <% } %>
                  </div>
             </td>
            </tr>
          <% } %>    
         </table>
         
         
         </td>
         <!--
         <td>
           <% for(var i in googles){ %>
                <% if (i< 20){ %>
                           <a style="font-size:12px;" href="http://google.com/search?q=<%= googles[i].q %>"><%= googles[i].show %></a><br/>
                 <% }else{ %>
                          <div class="hidegoogle" style="display:none;"><a style="font-size:12px;" href="http://google.com/search?q=<%= googles[i].q %>"><%= googles[i].show %></a></div>
                 <% } %>
            <% } %>
            <a href="#" id="moregoogles">show more googles..</a>
         </td>
         
         -->
         </tr>
         <tr style="height:150px;">
         </tr>
         </table>
 
 
 
 <script>

        $(".domain").click(function(){
            $(this).siblings(".sites:first").toggle();
              return false;
        })    
        
          $("#moregoogles").click(function(){
            $(".hidegoogle").each(function(){$(this).toggle();})
              return false;
        })    

 </script>
