<script>

$("#showclosed").click(function(){
$(".closed").toggle()
return false;
})

</script>


<style>
.tab{
display: block;
font-size: 20px;
float: left;
background-color: #2c7ad0;
position:relative;

opacity:0.9;
position:absolute;
max-height:50px;
y-overflow:none;
background:steelblue;
color:white;
display:block;
}

.closed{
display:inline;
/*border:1px dotted white;*/
opacity:0.5;
}
</style>





<% for(var i in tabs){ %>

<a href="<%= tabs[i].url %>"

  <% if( tabs[i].closed ){ %>
   class="tab closed"
  <% }else{ %>
   class="tab"
  <% } %>

style="position:relative;
width:<%= parseInt((tabs.length/100)*100) %>%;
font-size:15px;
color:white;
background-color:<%= tabs[i].colour %>;
opacity:0.7;"
title="<%= tabs[i].title %>"
>
<%= tabs[i].title.substr(0,35) %> <%= tabs[i].count %>
</a>

<% } %>
