
<style>
.tabshow{
  float:left; 
  width:120px; 
  height:100px; 
  background:steelblue;     
   opacity: 0.8;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size:12px;
    margin: 5px; 
    overflow-y:none;
}

.tabshow :hover{

background:blue;
}

</style>
<ul>

<div style=" position:relative;width:90%; min-height:590px;  clear:none;">
  <% for(var i in tabs){ %>

      <span class="tabshow" style=""> 
             <a href="<%= tabs[i].url %>" style=""><%= tabs[i].title %></a>   <%= tabs[i].count %><br/>
             <span style="position:relative; left:0px;bottom:0px;">
              <img style="width:15px; height:15px;" src="<%= tabs[i].favicon %>" / >
              </span>
              <%= tabs[i].domain %>
              <a href="#" onClick="closetab( <%= tabs[i].id %> );">close</a>   
      </span>
  <% } %>
  </div>
  
  
 </ul>
