
 <style>
 
 .topicimage{float:left;}
        .showday:hover{
            opacity:0.7;
             background:grey;
            -webkit-transition: background;
            -webkit-transition-timing-function: ease-out;
            -webkit-transition-duration: 500ms;
        }
 </style>


 <table style=" width:100%; text-align:center;" >
 <Tr>
 <Td style="width:10%; min-width:100px; ">
 <!--
     <table style=" left:20px; width:100px; text-align:center;" >
          <% for(var i in days){ %>          
             <Tr class="showday">
                <td >
                  <b><%= days[i].name %></b>
              </td>
              
              <td>
                  <% for(var o in days[i].topics){ %>
                   <span style="font-size:11px;">
                     <a href="<%= days[i].topics[o].url %>"><%= days[i].topics[o].name %></a>
                     </br>
                  </span>
                  <% } %>  
                 </td>   
                               
              </tr>        
          <% } %>
     </table>
     -->
 </td>
 
 <td>
      <table style="width:100%;">
      <Tr style="height:80%;">
            <td>
                  <div id="weekgraph"></div>
            </td>
      </tr>
      <tr style="height:160px; width:100%; position:relative;">
            <Td  style="height:160px; width:200px; position:relative; ">
               <div style="width:100%; height:135px;overflow:none;">
                <% for(var i in topics){ %>  
                <a href="<%= topics[i].url %>" class="topic" style="width:130px; height:130px;" >
                  <img  title="<%= topics[i].name %>" style="opacity:0.7;" src="http://www.freebase.com/api/trans/image_thumb<%= topics[i].id %>?maxwidth=110&maxheight=110&errorid=/m/0djw4wd"/>
                </a>  
                <% } %>
              </div>
          </td>
      </tr>
      </table>
  </td>
  
  </tr>
  </table>
